# NER - Name Entity Recognition

## Example 1 using BERT_base
Source: https://huggingface.co/dslim/bert-base-NER

In [1]:
from transformers import AutoTokenizer, AutoModelForTokenClassification
from transformers import pipeline

tokenizer = AutoTokenizer.from_pretrained("dslim/bert-base-NER")
model = AutoModelForTokenClassification.from_pretrained("dslim/bert-base-NER")

nlp = pipeline("ner", model=model, tokenizer=tokenizer)
example = "My name is Wolfgang and I live in Berlin"

ner_results = nlp(example)
print(ner_results)

tokenizer_config.json:   0%|          | 0.00/59.0 [00:00<?, ?B/s]

c:\Users\User\anaconda3\envs\dev\lib\site-packages\huggingface_hub\file_download.py:149: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\User\.cache\huggingface\hub\models--dslim--bert-base-NER. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

config.json:   0%|          | 0.00/829 [00:00<?, ?B/s]

vocab.txt:   0%|          | 0.00/213k [00:00<?, ?B/s]

added_tokens.json:   0%|          | 0.00/2.00 [00:00<?, ?B/s]

special_tokens_map.json:   0%|          | 0.00/112 [00:00<?, ?B/s]

model.safetensors:   0%|          | 0.00/433M [00:00<?, ?B/s]

Some weights of the model checkpoint at dslim/bert-base-NER were not used when initializing BertForTokenClassification: ['bert.pooler.dense.bias', 'bert.pooler.dense.weight']
- This IS expected if you are initializing BertForTokenClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForTokenClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

[{'entity': 'B-PER', 'score': 0.9990139, 'index': 4, 'word': 'Wolfgang', 'start': 11, 'end': 19}, {'entity': 'B-LOC', 'score': 0.999645, 'index': 9, 'word': 'Berlin', 'start': 34, 'end': 40}]

In [5]:
import pandas as pd

# Extract the information
pd.DataFrame(ner_results)

  entity     score  index      word  start  end
0  B-PER  0.999014      4  Wolfgang     11   19
1  B-LOC  0.999645      9    Berlin     34   40

In [6]:
example_2 = "James works at Facebook with Adam Jones, Camille and Alice. The main office is in Palo Alto, California."
ner_results = nlp(example_2)

In [8]:
nb_entities = len(ner_results)
print(f"{nb_entities} entities were found in the example.")

10 entities were found in the example.

In [9]:
# Extract the information
pd.DataFrame(ner_results)

  entity     score  index        word  start  end
0  B-PER  0.999029      1       James      0    5
1  B-ORG  0.979843      4    Facebook     15   23
2  B-PER  0.999193      6        Adam     29   33
3  I-PER  0.998363      7       Jones     34   39
4  B-PER  0.995856      9     Camille     41   48
5  B-PER  0.991435     11       Alice     53   58
6  B-LOC  0.997800     18          Pa     82   84
7  I-LOC  0.963319     19        ##lo     84   86
8  I-LOC  0.998842     20        Alto     87   91
9  B-LOC  0.999038     22  California     93  103